@import "variables.scss";

@media (max-width: 950px) {
  .sidebar-container {
    order: 2;
    margin-top: 20px;
    position: relative;
    width: 100%;
  }
}

.sidebar-container {
  order: 1;
  margin-top: 0;
  position: sticky;
  top: 0;
  width: 320px;
  align-self: flex-start;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $gray-light;
  font-size: 14px;
  h5 {
    color: $brand-gray;
    padding-bottom: 1em;
    a {
      color: $brand-gray;
      text-decoration: none;
    }
  }
  a {
    color: $gray-light;
    &:hover,
    &:active {
      color: $brand-primary;
    }
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: none;
    a {
      text-shadow: none;
      color: $sidebar-tag-text;
      border-color: $sidebar-tag-border;
      background-color: $sidebar-tag-bg;
      &:hover,
      &:active {
        color: $sidebar-tag-hover;
        border-color: $sidebar-tag-border-hover;
        background-color: $sidebar-tag-bg-hover;
      }
    }
  }
  .short-about {
    img {
      width: 80%;
      display: block;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    p {
      margin-top: 0px;
      margin-bottom: 20px;
    }
		.fullname {
			margin-bottom: 0;
		}
		.email {
			text-decoration: underline;
		}
    .list-inline > li {
      padding-left: 0px;
      margin-bottom:5px;
    }
  }
}
