.inat-widget {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  font-family: sans-serif;
  padding: 0px;
  line-height: 1;
  font-size: 1.1rem
}

.inatheader, .inatfooter {
  font-size: 14px;
  width: 300px;
}

.inatfooter {
  font-size: 12px;
  font-style: italic;
}
.inatheader a, .inatfooter a {
  text-decoration: underline;
}

div#inat, div#inat_top {
  display: table;
  font-family: sans-serif;
  font-size: 10px;
  line-height: 1;
}

div.inatrow {
  display: table-row;
}

div.inatobs {
  display: table-cell;
}

.inatobs, .csstooltip, .csstooltiptext {
  border-radius: 2px;
}

.csstooltip {
  position: relative;
  text-decoration: none;
}

.csstooltip .csstooltiptext {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  text-align: center;
  top: 50px;
}

.csstooltip:hover .csstooltiptext {
  visibility: visible;
  display: block;
}

.inat-widget-header {margin-bottom: 0px; font-size: 1.2rem; }
.inat-widget td, .inat-widget tr, .inat-widget table {vertical-align: top; padding: 0px; line-height: 1; margin: 0px;}
.inat-label { color: #888; }
.inat-observation-body, .inat-user-body { padding: 0px; }
.inat-observation-image {text-align: center;}
.inat-observation-image, .inat-user-image { width: 75px; display: inline-block; }
.inat-observation-image img, .inat-user-image img { max-width: 75px; }
.inat-observation-image img { vertical-align: middle; }
.inat-widget-small .inat-observation-image { display:block; margin: 0 3px 3px 0; height:48px;}
.inat-user-body {vertical-align: middle;}
.inat-widget td.inat-user-body {vertical-align: middle;}
