@import "_variables.scss";
@import "_sidebar.scss";
@import "_side-catalog.scss";
@import "_inat.scss";
@import "_search.scss";
@import "_highlight.scss";

// Small screens / mobile
@media (max-width: 950px) {
  .main-container {
    padding: 10px;
    flex-direction: column;
    justify-content: center;
  }
  .post-container {
    padding: 10px;
  }
  .caption {
    font-size: 12px;
    line-height: 1;
  }
}

.post-content-preview {
  font-size: 14px;
}

.main-container {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.postlist-container {
  flex: 2;
  margin-right: 20px;
}

html, body { height: 100%; }
body {
  margin: 0;
  padding: 0;
  background: $main-bg-image;
  color: $gray-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN","Noto Sans SC","Source Han Sans TC","Noto Sans CJK TC","WenQuanYi Micro Hei",SimSun,sans-serif;
}

a {
  color: $brand-primary;
  text-decoration: none;
  &:hover {
    color: $gold;
  }
}

.intro-header {
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;

  position: relative;
  &.style-text {
    background: none;
    .site-heading,
    .post-heading,
    .page-heading {
      padding: 20px 0 5px;
      color: $gray-dark;
      .subheading {
        margin-bottom: 15px;
      }
    }
  }
  .post-heading,
  .page-heading {
    padding: 20px 0 5px;
    color: white;
  }
  .site-heading {
    padding: 95px 0 70px;
    color: white;
  }
  .site-heading,
  .page-heading {
    text-align: left;
    h1 {
      padding-left: 10px;
      margin-top: 0;
      font-size: 3rem;
      color: $heading-color;
      text-shadow: 2px 4px 10px rgba(0,0,0,0.4), 3px 5px 12px rgba(0,0,0,0.4);
    }
    .subheading {
      font-size: 18px;
      line-height: 1.1;
      display: block;
      font-weight: 300;
      margin: 10px 0 0;
      color: $subheading-color;
    }
  }
  .post-heading {
    h1 {
      font-size: 30px;
      margin-bottom: 24px;
      color: $post-heading-color;
      text-shadow: 2px 4px 10px rgba(0,0,0,0.4), 3px 5px 12px rgba(0,0,0,0.4);
    }
    .subheading {
      color: $subheading-color;
      line-height: 1.1;
      display: block;
    }
    .meta {
      color: $subheading-color;
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-size: 17px;
      line-height: 1.2;
      font-weight: normal;
      margin: 10px 0 30px;
      margin-top: -5px;
    }
    .meta {
      font-style: italic;
      font-weight: 300;
      font-size: 16px;
      a {
        color: white;
      }
    }
  }
  .header-img-credit {
    position: absolute;
    bottom: 6px;
    right: 9px;
    color: white;
    opacity: 0.3;
    font-size: 10px;
    z-index: 1;
    a {
      color: white;
    }
  }
  .header-post-date {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    color: white;
    margin-left: 5px;
  }

  .header-home-link {
    position: absolute;
    bottom: 0px;
    right: 3px;
    a {
      text-shadow: 2px 4px 10px rgba(0,0,0,0.4), 3px 5px 12px rgba(0,0,0,0.4);
      font-weight: 800;
      font-size: 20px;
      color: white;
      &:hover {
        color: $navbar-hover-color;
      }
    }
  }
}

figure {
  text-align: center;
  margin: .0rem;
  position: relative;

  .image-caption:not(:empty) {
    min-width: 20%;
    max-width: 80%;
    font-style: italic;
    padding: .5rem;
    margin: 0 auto;
    color: $gray-dark;
  }

  img {
    /*width: 100%;*/
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
}

.caption {
  position: static;
  font-style: italic;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  max-width: none;
}

a {
  color: $brand-gray;
  &:hover,
  &:focus {
    color: $brand-primary;
  }
}

a img .zoomimg{
  &:hover,
  &:focus {
    cursor: zoom-in;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.post-title {
	color: $post-title-color;
	&:hover {
		color: $post-title-hover-color;
	}
}
.post-subtitle {
	color: $post-subtitle-color;
  font-weight: bold;
}

article {
  overflow: hidden;
}

blockquote {
  color: gray;
  font-style: italic;
  font-size: 0.95em;
  margin: 20px 0 20px;
  p {
    margin: 0;
  }
}

.graycode {
	background-color: $gray-very-light;
	font-family: monospace;
}

pre code {
  display: block;
  width: auto;
  white-space: pre; // save it but no-wrap;
  word-wrap: normal; // no-wrap
}

.postlist-container {
  margin-bottom: 15px;
  max-width: 640px;
}

.post-container {
  padding: 20px;
  a {
    color: $post-content-link;
    &:hover,
    &:focus {
      color: $brand-primary;
    }
  }
  .pager li {
    width: 48%;
    &.next {
      float: right;
    }
    &.previous {
      float: left;
    }
    > a {
      width: 100%;
      > span {
        color: $brand-gray;
        font-weight: normal;
        letter-spacing: 0.5px;
      }
    }
  }

}

.post-preview {
  display: flex;
  align-items: center;
  .thumbnail {
    padding: 0;
    margin: 0;
    background-color: #0000;
    border: none;
    img {
      border-radius: 5px;
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  }
}

.post-preview-text {
  flex: 1;
  padding-left: 20px;
  > a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $brand-primary;
    }
    > .post-title {
      font-size: 21px;
      line-height: 1.2;
      margin-top: 2px;
      margin-bottom: 2px;
      align: left;
    }
  }
  .post-subtitle {
      font-size: 0.8rem;
      line-height: 1.1;
      margin: 0;
      margin-bottom: 3px;
      align: left;
    }
  .post-meta {
    color: $brand-gray;
    font-size: 10px;
    margin-top: 5px;
		text-align: right;
    }
}

.post-content-preview {
  font-size: 15px;
  font-style: italic;
	margin-left: 3%;
  color: $post-content-preview-color;

  p {
    margin: 0;
  }
}

.section-heading {
  font-size: 36px;
  margin-top: 60px;
  font-weight: 700;
}

.caption {
  text-align: center;
  font-size: 14px;
  padding: 10px;
  font-style: italic;
  margin: 0;
  display: block;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

footer {
  font-size: 20px;
  padding: 50px 0 65px;
  .list-inline {
    margin: 0;
    padding: 0;
  }
  .copyright {
    font-size: 14px;
    text-align: center;
    margin-bottom: 0;
    a {
      color: #337ab7;
      // different to $brand-primary
      &:hover,
      &:focus {
        color: $brand-primary;
      }
    }
  }
}

// academicons adjustment
.ai {
	padding-top: 12%;
	padding-left: 0%;
	font-size: 140%;
}

// Button Styles

.btn {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 0;
  padding: 15px 25px;
}

.btn-lg {
  font-size: 16px;
  padding: 25px 35px;
}

.btn-default {
  &:hover,
  &:focus {
    background-color: $brand-primary;
    border: 1px solid $brand-primary;
    color: white;
  }
}


.tags {
  margin-bottom: -5px;
  &.tags-sup {
    a,
    .tag {
      padding: 0 10px 0 12px;
    }
  }
  a,
  .tag {
    text-shadow: 4px 8px 12px rgba(0,0,0,0.4), 8px 12px 16px rgba(0,0,0,0.4);
    display: inline-block;
    border: 1px solid $header-tag-border;
    border-radius: 999em;
    padding: 0 10px 0 10px;
    color: $header-tag-text;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
    margin-bottom: 6px;
    cursor: pointer;
    background-color: $header-tag-bg;
    > sup {
      margin-left: -2px;
      font-weight: 700;
    }
    &:hover,
    &:active {
      color: $header-tag-hover;
      border: 1px solid $header-tag-border-hover;
      background-color: $header-tag-bg-hover;
      text-decoration: none;
    }
  }
}

#tag-heading {
  padding: 70px 0 60px;
}

#tag_cloud {
  margin: 20px 0 15px 0;
  a,
  .tag {
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    font-size: 14px;
    border: none;
    line-height: 28px;
    margin: 0 2px;
    margin-bottom: 8px;
    background: #f3f5f5;
    &:hover,
    &:active,
    &.focus {
      background-color: #0085a1 !important;
    }
    &.focus {
      box-shadow: rgba(0, 0, 0, 0.117647) 0 1px 6px,
        rgba(0, 0, 0, 0.239216) 0 1px 4px;
    }
    &.tag-button--all {
      font-weight: 700;
      color: #0085a1 !important;
      &:hover,
      &:active,
      &.focus {
        background-color: #e4e4e4 !important;
      }
    }
  }
}

.tag-comments {
  font-size: 12px;
}

.mini-post-list {
  margin: 20px 0 15px 0;
  .tag-text {
    font-weight: 200;
  }

  .post-preview {
    img {
      border-radius: 5px;
      width: 70px;
      height: 70px;
      object-fit: cover;
    }
  }

  .post-preview-text {
    padding-left: 10px;
    position: relative;
    > a {
      .post-title {
        font-size: 16px;
        font-weight: 500;
        margin-top: 20px;
      }
      .post-subtitle {
        font-size: 14px;
      }
    }
    > .post-meta {
      position: absolute;
      right: 5px;
      bottom: 0px;
      margin: 0px;
      font-size: 12px;
    }
  }
}

.page-fullscreen .intro-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.page-fullscreen footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 20px;
  opacity: 0.6;
  color: #fff;
}

.page-fullscreen footer .copyright {
  color: #fff;
}
.page-fullscreen footer .copyright a {
  color: #fff;
}
.page-fullscreen footer .copyright a:hover {
  color: #ddd;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}

.note {
	font-style: italic;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  img {
    border-radius: 8px;
    padding: 2px;
  }
}

.videocontainer video {
  width: 100%;
  height: 100%;
  object-fit: cover;
//style="display: block; margin: 0 auto; padding:1px;border:1px solid black;"
}

.awardphoto {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #222;
  div {
    color: #fed;
  }
  img {
    border-radius: 50px;
    padding: 20px;
  }
}

.photocaption {
  text-align: center;

  .title {
    font-style: italic;
  }

}

.logout {
  text-align: center;
  a {
    text-decoration: underline;
    color: $post-title-color;
  }
}

.paren {
  font-size: 0.8em;
}

.short-about {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .social {
    text-shadow: 2px 4px 10px rgba(0,0,0,0.2), 3px 5px 12px rgba(0,0,0,0.2);
  }
}

.pager {
  margin: 20px 0 0 !important;
  padding: 0px !important;

  li {
    > a,
    > span {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 1px;
      padding: 10px;
      background-color: white;
      border-radius: 0;
    }

    > a {
      color: $gray-dark;
    }
    > a:hover,
    > a:focus {
      color: white;
      background-color: $brand-primary;
      border: 1px solid $brand-primary;

      // V1.6 display title
      > span {
        color: white;
      }
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      color: $brand-gray;
      background-color: $gray-dark;
      cursor: not-allowed;
    }
  }
}