{{ define "main" }}

<!-- Post Content -->
  <div class="container">

      <!-- Post Container -->
      <div class="post-container">
        {{ .Content }}

        <div class="pager">
          {{ with .Prev }}
          <div class="previous">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
              Previous: {{ .Title | truncate 30 }}
            </a>
          </div>
          {{ end }}
          {{ with .Next }}
          <div class="next">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
              Next: {{ .Title | truncate 30 }}
            </a>
          </div>
          {{ end }}
        </div>

        <!-- comments -->
        {{ if .Params.hidecomment }}
        {{- else -}}
          {{ partial "comments.html" . }}
        {{- end -}}

      </div>

      <!-- Side TOC Catalog Container -->
      {{ $toc := .Scratch.Get "toc" }}
      {{ if $toc }}
      <div class="sidebar-container catalog-container">
        <div class="side-catalog">
          <h5>
            <a class="catalog-toggle" href="#">Contents</a>
          </h5>
          <ul class="catalog-body"></ul>
        </div>
      </div>
      {{ end }}
      <!-- Sidebar Container -->
      <div class="sidebar-container">

        <!-- Featured Tags -->
        {{ .Scratch.Set "bottom" true }}
        {{ partial "featured-tags.html" . }}

        <!-- Friends Blog -->
        {{ partial "friends.html" . }}
      </div>
    </div>

{{ end }}
