{{ with site.Params.social.inaturalist_top }}
<hr>
<div class='inatheader'><a target="_blank" href="https://www.inaturalist.org/">iNaturalist.org</a> Observations:</div>

<div class='inatheader'>Popular:</div>
<div id="inat_top"></div>

<script type="module">
	import {inatwidget} from "/js/inatwidget.js";
	inatwidget( {{ . }}, "inat_top", true );
</script>

{{ end }}

{{ with site.Params.social.inaturalist }}

<div class='inatheader'>Recent:</div>
<div id="inat"></div>

<script type="module">
	import {inatwidget} from "/js/inatwidget.js";
	inatwidget( {{ . }}, "inat", false );
</script>

<span class='inatfooter'>See more and join in on&nbsp;<a target="_blank" href="https://inaturalist.org/">iNaturalist.org</a></span>

{{ end }}

