<div class="inat-widget">
    <div class="inat-widget-header">
      <a href="https://www.inaturalist.org">
        iNaturalist Obs. of the Day:
      </a>
    </div>
  <script type="text/javascript" charset="utf-8" src="https://www.inaturalist.org/observations/project/5358.widget?layout=large&limit=1&order=desc&order_by=observed_on"></script>

<!-- TO DO: make another .js widget that grabs the latest obs ID from the project ID, and renders more simply without using <table> elems
  <script type="text/javascript" charset="utf-8">
    const src = "https://api.inaturalist.org/v1/observations?project_id=5358&page=1&per_page=1&order=desc&order_by=created_at"
    ...
  </script>
  -->
</div>

