{{ $header_img := .Scratch.Get "header_img" }}
{{ $post_bg := .Scratch.Get "post_bg" }}

{{ if .IsPage }}
  {{ with .Params.header_img }}
    <header class="intro-header" style="background-image: url('{{- . -}}')">
  {{ else }}
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
  {{ end }}
    <div class="container">
      <div class="row">
        <div class="post-heading">
          <div class="tags">
            {{ range (.GetTerms "tags") }}
            <a class="tag" href="{{ .Page.RelPermalink }}" title="{{ .LinkTitle}}">{{ .LinkTitle }}</a>
            {{ end }}
          </div>
          <h1>{{ .Title }}</h1>
          {{- with .Params.subtitle }}<h2>{{ . }}</h2>{{- end }}
        </div>
      </div>
    </div>
    <div class='header-post-date'>{{ .Date.Format "Mon, 1 Jan 2006" }}</div>
    <div class='header-home-link'>
      <a href="{{ .Site.BaseURL | safeURL }}">{{ .Site.Title }}</a>
    </div>
  </header>
{{ else }}
  {{ with $header_img }}
    <header class="intro-header" style="background-image: url('{{- . -}}')">
  {{ else}}
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
  {{ end }}
    <div class="container">
      {{ if eq (.Param "short") true }}
        <div class="site-heading" id="tag-heading">
      {{ else }}
        <div class="site-heading">
      {{ end }}
        <h1>{{ with .Title }}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}</h1>
        {{ $homesubtitle := .Description }}
        {{ if .IsHome }}
          {{ $homesubtitle = .Site.Params.homesubtitle }}
        {{ end }}
        <span class="subheading">{{ $homesubtitle }}</span>
      </div>
    </div>
    <div class='header-home-link'>
      <a href="{{ .Site.BaseURL | safeURL }}">{{ .Site.Title }}</a>
    </div>
  </header>
{{ end }}
