{{- $video_src := .Get "src" -}}
{{- $poster := "/img/videoposter.png" -}}
{{- with .Get "poster" -}}
  {{- $poster = . -}}
{{- end -}}
<div class="videocontainer">
<!--
  {{- if (fileExists $poster) -}}
    <video controls preload="none" controlsList="nodownload" poster="{{$poster}}">
  {{ else }}
    <video controls preload="none" controlsList="nodownload">
  {{ end }}
  -->
    <video controls preload="none" controlsList="nodownload" poster="{{$poster}}">
    <source src="{{ $video_src }}" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
